.second{

    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav{
    width :139%;
    
}
.pic{
    padding: 0;
    margin: 2px -34px;
    width: 100%;
}
#from{
    
    width: 100%;

}
.section{
    width:100%;
}
#section{
    padding: 0%;
    margin: 0%;
    width: 100%;
}