.second{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav{
    padding: 0;
    width :139%;
    
}
.pic{
    padding: 0;
    margin: 2px -34px;
    width: 369px;
}
#from{
    padding: 0;
    width: 369px;

}
.section{
    padding: 0;
    width:330px
}